<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">REGIONALES</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-10">
                      <input
                        type="text"
                        name=""
                        id=""
                        placeholder="Esciba el nombre de regiona a buscar"
                        class="form-control mr-2"
                      />
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-primary">
                        <i class="far fa-magnifying-galss"></i> Buscar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modal-add"
                  >
                    Agregar Regional
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tasman</td>
                <td>Internet Explorer 5.1</td>
                <td>Mac OS 7.6-9</td>
                <td>1</td>
                <td>C</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Tasman</td>
                <td>Internet Explorer 5.2</td>
                <td>Mac OS 8-X</td>
                <td>1</td>
                <td>C</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>NetFront 3.1</td>
                <td>Embedded devices</td>
                <td>-</td>
                <td>C</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>NetFront 3.4</td>
                <td>Embedded devices</td>
                <td>-</td>
                <td>A</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>Dillo 0.8</td>
                <td>Embedded devices</td>
                <td>-</td>
                <td>X</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>Links</td>
                <td>Text only</td>
                <td>-</td>
                <td>X</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>Lynx</td>
                <td>Text only</td>
                <td>-</td>
                <td>X</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>IE Mobile</td>
                <td>Windows Mobile 6</td>
                <td>-</td>
                <td>C</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Misc</td>
                <td>PSP browser</td>
                <td>PSP</td>
                <td>-</td>
                <td>C</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>  
                  </button>
                </td>
              </tr>
              <tr>
                <td>Other browsers</td>
                <td>All others</td>
                <td>-</td>
                <td>-</td>
                <td>U</td>
                <td>
                  <button
                    class="btn btn-warning mr-1"
                    data-toggle="modal"
                    data-target="#modal-edit"
                  >
                    <i class="far fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#modal-del"
                  >
                    <i class="far fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Nueva Regional -->
<div class="modal fade" id="modal-add">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva Regional</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          CERRAR
        </button>
        <button type="button" class="btn btn-success">GUARDAR</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal Editar Regional -->
<div class="modal fade" id="modal-edit">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Regional</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          CERRAR
        </button>
        <button type="button" class="btn btn-success">MODIFICAR</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal Eliminar -->
<div class="modal fade" id="modal-del">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Regional</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          CERRAR
        </button>
        <button type="button" class="btn btn-success">MODIFICAR</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
