<!-- Brand Logo -->
<!-- <a href="index3.html" class="brand-link"> -->
<a routerLink="/admin" class="brand-link">
  <img
    src="../../../assets/dist/img/AdminLTELogo.png"
    alt="AdminLTE Logo"
    class="brand-image img-circle elevation-3"
    style="opacity: 0.8"
  />
  <span class="brand-text font-weight-light">AdminLTE 3</span>
  <button (click)="refrescar()">R</button>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img
        src="../../../assets/dist/img/user2-160x160.jpg"
        class="img-circle elevation-2"
        alt="User Image"
      />
    </div>
    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <!-- SidebarSearch Form -->
  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input
        class="form-control form-control-sidebar"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="#" class="nav-link" onclick="console.log('');">
          <i class="nav-icon fas fa-gear"></i>
          <p>
            PARAMETRICAS
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <!-- <a href="pages/layout/top-nav.html" class="nav-link"> -->
            <a [routerLink]="['/admin/regionales']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Regionales</p>
            </a>
          </li>
          <li class="nav-item">
            <!-- <a href="pages/layout/top-nav-sidebar.html" class="nav-link"> -->
            <a [routerLink]="['/admin/sistemas']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Sistemas</p>
            </a>
          </li>
          <li class="nav-item">
            <!-- <a href="pages/layout/top-nav-sidebar.html" class="nav-link"> -->
            <a [routerLink]="['/admin/list']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Menús</p>
            </a>
          </li>
          <li class="nav-item">
            <!-- <a href="pages/layout/top-nav-sidebar.html" class="nav-link"> -->
            <a [routerLink]="['/admin/list']" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Permisos</p>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          <p>USUARIOS</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="nav-icon fas fa-mask"></i>
          <p>ROLES</p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
