<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Preloader -->
    <!-- <div
      class="preloader flex-column justify-content-center align-items-center"
    >
      <img
        class="animation__shake"
        src="../../../assets/dist/img/AdminLTELogo.png"
        alt="AdminLTELogo HOLA"
        height="60"
        width="60"
      />
    </div> -->

    <!-- Navbar -->
      <app-header></app-header>
    <!-- </nav> -->
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <router-outlet></router-outlet>
      
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</div>
